.thumbnail {
	width: 25vw;
}

div#lesson-container {
	margin: auto;
	justify-content: space-around;
	width:100%;
	flex-wrap: wrap;
	display: flex;
}

div#final-lesson-container {
	margin: auto;
	justify-content: space-around;
	width:100%;
	flex-wrap: wrap;
	display: flex;
}
