img {
	width: 15vw;
	margin-right: 2vw;
	margin-top: 0vh;
}

.thumbnail {
	width: 15vw;
}

div#lesson-container {
	margin: auto;
	justify-content: space-around;
	width:100%;
	flex-wrap: wrap;
	display: flex;
}

div#final-lesson-container {
	margin: auto;
	// justify-content: space-around;
	width:100%;
	flex-wrap: wrap;
	display: flex;
}

.thumbnail {
  margin-top: 5%;
}

.left {
  margin-left: 7.5%;
}

.mid {
  margin-left: 5%;
  margin-right: 5%;
}

.right {
  margin-right: 7.5%;
}

#lessons {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: "white";
  width: 60vw;
  position: relative;
  margin-left: -30vw;
  left: 50%;
}

#finlessons {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f2f2f2;
  width: 60vw;
  position: relative;
  margin-left: -30vw;
  left: 50%;
}
