img {
	width: 25vw;
	margin-right: 2vw;
	margin-top: 0vh;
}

.thumbnail.news-thumbnail {
	display: inline;
	margin-bottom: 5vh;
}

.break {
    background: #3E87BC;
    height: 2px;
    margin: 5px 0 10px 0;
    width: 100%;
}
